body{
    color: rgb(0, 0, 0);
    background-color: white;
    ;
}

.desc_oc{
    width: 200px;
    border: 2px solid #000;
    padding: 10px;
    color: black;
    background-color: #000;
}
